@using LanguageCenter.Core.Models.UserModels
@model UserResponse

@{
    ViewData["Title"] = "AllUsers";
}

<h1>All Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Full Name
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="AddRole" asp-route-id="@item.Id" class="btn btn-primary">Add Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
    <ul class="pagination bottom-margin">
        <li class="paginate_button page-item previous @(Model.CurrentPage == 1 ? "disabled" : "enabled")" id="example2_previous">
            <a asp-action="All" asp-route-page="@(Model.CurrentPage - 1)" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Предишна страница</a>
        </li>
        @for (var i = 1; i <= Model.Pages; i++)
        {
            <li class="paginate_button page-item @(Model.CurrentPage == i ? "active" : "inactive")">
                <a asp-action="All" asp-route-page="@i" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">
                    @i
                </a>
            </li>
        }
        <li class="paginate_button page-item next @(Model.CurrentPage == Model.Pages ? "disabled" : "enabled")" id="example2_next">
            <a asp-action="All" asp-route-page="@(Model.CurrentPage + 1)" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Следваща страница</a>
        </li>
    </ul>
</div>

<partial name="_BackToAdminPanel" />