@model IEnumerable<LanguageCenter.Core.Models.CourseModels.AllCourseVM>

@{
    ViewData["Title"] = "DeleteCourse";
}

<h1>All Courses</h1>

<p>
    <a class="btn btn-primary" asp-action="AddCourse">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    <form asp-action="DeleteCourse" asp-route-id="@item.Id">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a class="btn btn-secondary" asp-controller="Admin" asp-action="Index">Back to List</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
