@using LanguageCenter.Core.Models.TeacherModels
@model LanguageCenter.Core.Models.CourseModels.GetCourseVM

@{
    ViewData["Title"] = "Course Details";
    var teachers = (IEnumerable<SelectListItem>)ViewBag.Teachers;
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInMonths)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DurationInMonths)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LanguageName)
        </dd>
        @if (string.IsNullOrWhiteSpace(Model.TeacherName))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TeacherName)
            </dt>
            <dd class="col-sm-2">
                <form method="post" asp-action="AssignTeacher" asp-route-courseId="@Model.Id">
                    <div class="form-group wrap-div">
                        <select class="form-control" asp-for="TeacherName" asp-items="@teachers"></select>
                        <input type="submit" value="Assign" class="btn btn-primary btn-margin-left" />
                    </div>
                </form>
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TeacherName)
            </dt>
            <dd>
                <form method="post" asp-action="RemoveTeacherFromCourse" asp-route-courseId="@Model.Id">
                    <div class="form-group wrap-div">
                        @Html.DisplayFor(model => model.TeacherName)
                        <input type="submit" value="Remove Teacher" class="btn btn-danger btn-margin-left" />
                    </div>
                </form>
            </dd>
        }
    </dl>
</div>
<div>
    <a class="btn btn-secondary" asp-action="AllCourses">Back to All Courses</a>
</div>
