@model IEnumerable<LanguageCenter.Core.Models.UserModels.UserVM>

<p>
    <a asp-action="AllTeachers">Back to teachers panel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <form asp-action="MakeTeacher" asp-route-id="@item.Id" method="post">
                        <input type="submit" value="Make teacher" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>