@model IEnumerable<LanguageCenter.Core.Models.TeacherModels.GetAllTeachersVM>

<partial name="_MessagePartial" />

<p>
    <a asp-action="AddTeacher">Add teacher</a>
</p>

@if (Model.Count() == 0)
{
    <h2>No teachers yet.</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="TeacherLanguages" asp-route-id="@item.Id">Add language to teacher</a> |
                        @if (item.IsActive)
                        {
                            <a method="post" class="btn btn-danger" asp-action="MakeInactive" asp-route-id="@item.Id">Make Inactive</a>
                        }
                        else
                        {
                            <a method="post" class="btn btn-success" asp-action="MakeActive" asp-route-id="@item.Id">Make Active</a>
                        }
                        <partial name="_BackToAdminPanel" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
