@using LanguageCenter.Core.Models.TeacherModels
@model TeacherResponse

<partial name="_MessagePartial" />

<p>
    <a asp-action="AddTeacher">Add teacher</a>
</p>

@if (Model.Teachers.Count() == 0)
{
    <h2>No teachers yet.</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    FullName
                </th>
                <th>
                    Email
                </th>
                <th>
                    Is Active
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Teachers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="TeacherLanguages" asp-route-id="@item.Id">Add language to teacher</a> |
                        @if (item.IsActive)
                        {
                            <a method="post" class="btn btn-danger" asp-action="MakeInactive" asp-route-id="@item.Id">Make Inactive</a>
                        }
                        else
                        {
                            <a method="post" class="btn btn-success" asp-action="MakeActive" asp-route-id="@item.Id">Make Active</a>
                        }
                        | <a class="btn btn-warning" asp-action="EditDescription" asp-route-id="@item.Id">Edit Description</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
        <ul class="pagination bottom-margin">
            <li class="paginate_button page-item previous @(Model.CurrentPage == 1 ? "disabled" : "enabled")" id="example2_previous">
                <a asp-action="AllTeachers" asp-route-page="@(Model.CurrentPage - 1)" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Предишна страница</a>
            </li>
            @for (var i = 1; i <= Model.Pages; i++)
            {
                <li class="paginate_button page-item @(Model.CurrentPage == i ? "active" : "inactive")">
                    <a asp-action="AllTeachers" asp-route-page="@i" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">
                        @i
                    </a>
                </li>
            }
            <li class="paginate_button page-item next @(Model.CurrentPage == Model.Pages ? "disabled" : "enabled")" id="example2_next">
                <a asp-action="AllTeachers" asp-route-page="@(Model.CurrentPage + 1)" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Следваща страница</a>
            </li>
        </ul>
    </div>
}
<partial name="_BackToAdminPanel" />
